<!doctype html>
<html lang="en">
  <head>
    <title>[Course] Syllabus</title>
  </head>
  <body>
    <header>
      <h1>[Your Course]</h1>
      <p>[Semester] [Year]<br />
        [Course days and times]</p>
    </header>
    
    {{ content | markdownify }}
  </body>
</html>
