{% hint format %}
PLEASE NOTE: We have added comments with explanatory text that you will want to delete before sharing with students.

If you want to add a section about COVID and student behavior, please consult [this document](https://duke.app.box.com/s/jl29f72lz5l54kyhxxbkc3layz2zkta9) from the university’s administration.
[This guide](https://learninginnovation.duke.edu/resources/art-and-science-of-teaching/creating-an-inclusive-and-equitable-course/#syllabus) provides guidance about creating an inclusive and equitable syllabus.
More information about course design is available on the [Learning Innovation website](https://learninginnovation.duke.edu/resources/).
{% endhint %}

## Your Instructor

**Name**:
**Pronouns**:
**Email**:
**Office hours and location**:
**Bio**:

{% hint format %}
Include your name, title, how students should address you, your pronouns, preferred contact information, office hours times and location. Consider providing online office hours and the URL and add a statement about why students should use office hours. Link to your website or social media presence, if you have one. Add a brief, student-friendly statement about your expertise in the content area and/or your interests beyond your field.
{% endhint %}

## What is this course about?

{% hint format %}
Briefly describe the course in a student-friendly way, clearly explaining why you find the course engaging and important. What is this course about? What questions does it attempt to answer? Why does this course matter? How does it fit into the overall curriculum? Or in your discipline?
{% endhint %}

## What background knowledge do I need before taking this course?

{% hint format %}
Note specific prerequisite courses, in addition to any specific knowledge, skills or background needed to successfully complete this course.
{% endhint %}

## What will I learn in this course?

Upon the completion of this course, you will be able to:

{% hint format %}
List the learning objectives for the course. The objectives should be specific and measurable and should clearly state what the students will be able to do after successfully completing the course. Talk to a consultant at [Learning Innovation](mailto:learninginnovation@duke.edu) to learn more about learning objectives.
{% endhint %}

## What will we do in this course?

{% hint format %}
Describe the activities and assignments you will use to help students reach the learning objectives. (For example: readings, forum discussions, problem sets) How are homework, in- class activities, and assessments related? Are there key elements of the class that should be highlighted? For example, are there larger projects that should be described? Or is group work an important component?
{% endhint %}

## How can I prepare for the class sessions to be successful?

{% hint format %}
What is the workflow of the course? For example, do students watch videos or read materials or write discussion posts before class or lab sessions? How should they plan to engage in the classroom? How can they know if they are participating successfully? You may also offer inclusive alternatives for participation, such as free skip days or allowing students to participate in alternative ways than speaking in class.
{% endhint %}

## What are the required texts and materials?

{% hint format %}
List the required texts and resources (textbooks, software, equipment) with citations and links as needed. Indicate if texts, software, and equipment are available through the library or another group on campus.
{% endhint %}

{% hint format %}(Suggested statement){% endhint %}
If you are having difficulty with textbook and supply costs associated with this course, contact the [financial aid office](https://financialaid.duke.edu/contact) (whether or not you are on aid) to receive aid or a loan.

## What technologies will we use?

{% hint format %}
What will be the commonly used technologies used for class (for example, Sakai, Zoom, online workbooks)? Add any relevant links if you have them. How can they get training if needed? Who will students contact if they have difficulties?
{% endhint %}

{% hint format %}(Example){% endhint %}
For immediate assistance with learning technologies, system errors/outages, or your NetID account and password, contact the [OIT Service Desk](https://oit.duke.edu/help/).

## How will my grade be determined?

{% hint format %}
List the graded assessments and how they will add up to the total course grade. Add the official grading scale for your school. Explain if there are any special circumstances in grading (for example, dropping lowest quiz grades or absence policies). Consider collaborating with your students to determine part, or all, of the course grading scheme.
{% endhint %}

## What is the course schedule?

{% hint format %}
When are assignments due? What is homework before and after class? What are the topics for the week or class?
{% endhint %}
{% for meeting in meetings -%}
### {{ meeting }}
**Topic**:
**Pre-class work**:
**In-class activities**:
**Assignments due**:

{% endfor %}

## Course Communication
{% hint format %}
Explain to students how you will communicate with them about changes to the schedule or cancellations of class due to weather or illness. Detail how to students should communicate with you (and TAs). For example, should they email you or post to Sakai? Describe how students are expected to make up assignments or access course content when they are ill. Tell students what you expect from them (for example, check email or course site every day).
{% endhint %}

## Discussion guidelines

{% hint format %}
In order to promote more respectful and productive class discussions, and to prioritize learning for all students, you should consider using discussion guidelines. You should introduce these in class as well to emphasis their importance.
{% endhint %}

{% hint format %}[Example]{% endhint %}
Civility is an essential ingredient for academic discourse. Differences in beliefs, opinions, and approaches are to be expected. Active interaction with peers and your instructor is essential to success in this course, so please adhere to these guidelines:

* Respect that others’ opinions and beliefs may differ from your own. If you disagree, you may critique the idea, but not the person.
* Listen carefully, be courteous and don’t interrupt.
* Support your statements with evidence and a rationale.
* Try to moderate how you contribute to the discussion – if you have a lot to say, try to avoid dominating the conversation; if you are reluctant to speak up, try to find an opportunity to share your perspective.

Please bring any communications you believe to be in violation of this class policy to the attention of your instructor.

## Student Success

{% hint format %}(Suggested text){% endhint %}
If you are having trouble completing assignments or understanding the materials, please consult with me about appropriate course preparation and readiness strategies as needed. Either send me an email or visit office hours describing the personal or academic difficulties you are facing. I may also direct you to other resources on campus.

* The [Academic Resource Center](https://arc.duke.edu/about-arc/welcome) (ARC) offers free services to all students, including peer tutoring, learning consultations, ADHD/LD coaching and [help with online learning](https://arc.duke.edu/sites/arc.duke.edu/files/FINAL%20-%20Learning%20Online%20Student%20Guide.pdf).
* If you are concerned about your physical or mental health, [DukeReach](https://studentaffairs.duke.edu/dukereach1) can connect you with departments across campus to get you help, and you can contact [Counseling & Psychological Services](https://studentaffairs.duke.edu/caps) (CAPS) directly for counseling services. You can also reach 24/7 mental health support through [Blue Devils Care](https://bluedevilscare.duke.edu/).

## Academic Accommodations

If you need to request accommodation for a disability, you should contact the [Disability Management System](https://access.duke.edu/requests) (DMS) office. I will work with that office to provide you with equal access to course materials and make accommodations for exams and other assessments.

## Academic Integrity

As a student, you should abide by Duke’s [Community Standard](https://studentaffairs.duke.edu/conduct/about-us/duke-community-standard), which states: Duke University is a community dedicated to scholarship, leadership, and service and to the principles of honesty, fairness, respect and accountability. Citizens of this community commit to reflect upon and uphold these principles in all academic and nonacademic endeavors, and to protect and promote a culture of integrity.

To uphold the Duke Community Standard:

* I will not lie, cheat, or steal in my academic endeavors.
* I will conduct myself honorably in all my endeavors; and
* I will act if the Standard is compromised.

It is the responsibility of the student to understand and follow Duke policies regarding academic integrity, including doing one’s own work, following proper citations of sources, and adhering to guidance around group work. Please speak with me to get any clarification about this course.
